body, html {
  background-color: #ffd3b6;
  height: 100vh;
}

#slide-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  border-radius: 4px;
}

.main-header {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: 'Arial', sans-serif;
  color: #6f0000;
}

@media only screen and (max-width: 480px) {
  #slide-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 4px;
  }

}
